* {
    font-family:Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
    body {
        margin:auto;
        background: paleturquoise;
    }
    
    .card {
        box-shadow: 0 4px 8px rgba(69, 66, 66, 0.2);
        transition: 0.3s;
        background-color: wheat;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        border: 0.75vw solid black;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5vw;
        border-radius: 3vw;
    }
    
    .poster {
        width:80vw;
        border-bottom: 0.5vw solid black;
        object-fit:contain;
        border-top-left-radius: 2.25vw;
        border-top-right-radius: 2.25vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

    }
    
    .cardInfo {
        display: flex;
        flex-direction: column;
    }
    
    .date {
        font-size: 9vw;
        text-align: center;
        height: 10vw;
        margin: 4vw 0 6vw 0;
    
    }
    
    .time {
        font-size: 9vw;
        text-align: center;
        height: 10vw;
        margin: 0 0 6vw 0;
    }
    
    .address {
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;
        font-size: 4vw;
        border-radius: 0;
    }
    
    .copy {
        opacity: 1;
        height: 10vw;
        width: 10vw;
        padding-top: 1vw;
    }
    
    .space{
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 10vw;
        padding-bottom: 6vw;
    }
    
    .fakeButton {
        opacity: 0;
        height: 10vw;
        min-width: 10vw;
        padding-top: 1vw;
    }

    .copyIcon {
        width: 7.5vw;
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        margin: auto;
        background: paleturquoise;
    }

    .card {
        box-shadow: 0 4px 8px rgba(69, 66, 66, 0.2);
        transition: 0.3s;
        background-color: wheat;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        width: 70%;
        border: 0.3vw solid black;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5vw;
        border-radius: 2vw;
        max-width: 700px;
    }

    .poster {
        border-right: 0.2vw solid black;
        object-fit:contain;
        border-top-left-radius: 1.7vw;
        border-bottom-left-radius: 1.7vw;
        box-shadow: 10px 0 10px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        height: 100%;

    }

    .cardInfo {
        display: flex;
        flex-direction: column;

    }

    .date {
        font-size: 200%;
        text-align: center;
        min-height: 30%;
    
    }
    
    .time {
        font-size: 200%;
        text-align: center;
        min-height: 30%;

    }

    .space{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-height: 30%;

    }
    
    .address {
        text-align: center;
        font-size: 150%;
    } 

    .copyIcon {
        width: 10%;
        margin: auto;
    }

    .fakeButton {
        height: 100%;
        min-width: 10%;
    }
}
